fastapi
uvicorn
langchain
langchain_community
sentence-transformers
faiss-cpu
python-multipart
pypdf
PyPDF2
markdown
httpx
bs4
google-api-python-client
stripe
groq
python-dotenv
pytesseract 
pymupdf
pillow
unstructured
pdfkit
bleach
nltk 
tiktoken
pdfplumber
scikit-learn 
numpy


